.info {
  margin: 100px auto;
  padding: 0 15%;

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
  }

  &__text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #404040;
    margin: 15px 0 25px;
    line-height: 24.72px;
  }

  &__demonstration {
    display: flex;
    flex-wrap: wrap;

    span {
      width: 50px;
      height: 50px;
      margin: 0 1px 1px 0;

      &:nth-child(1) {
        background-color: #ee732f;
      }

      &:nth-child(2) {
        background-color: #f74c55;
      }

      &:nth-child(3) {
        background-color: #2d5f3b;
      }

      &:nth-child(4) {
        background-color: #404040;
      }

      &:nth-child(5) {
        background-color: #fb636b;
      }
    }
  }
}